<link rel="stylesheet" href="style.css">
<h1>Developers Life</h1>
<div class="programer">Instead of focusing on specific projects, I wanted to 
be around people with a lot of experience and ideas. 
So I started working on various projects to 
learn my way around the profession.” — Dennis Ritchie</div>